

        body {
            font-family: Arial, sans-serif;
            background-color: #fbfcfc;
            text-align: center;
        }
        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 50px;
            background-color: #fff;
            border-radius: 50px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        }
        h2 {
            margin-bottom: 28px;
        }
        h3 {
            margin-bottom: 50px;
        }
        input[type="text"], input[type="password"] {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .btn-container {
            display: flex;
            
            justify-content: center; /* Centra horizontalmente los botones */
            
            align-items: center; /* Centra verticalmente los botones */
            gap: 15px; /* Espacio entre los botones */
        }
        input[type="submit"], input[type="reset"] {
            flex: 1; /* Hace que los botones compartan el espacio disponible */
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
        }
        input[type="reset"] {
            background-color: #007bff;
            color: #fff;
        }
        input[type="submit" ]:hover {
            background-color: #0056b3;
        }
        input[type="reset" ]:hover {
            background-color: #0056b3;
        }
        a:hover {
            font-size: 18px;
            color: #1c0dbf;
        }
